{% extends "accounts_base.html" %}
{% block css %}
<style>
body {
    padding: 90px 0 0 0;
}
.vertical-form {
    margin: 0 auto;
    width: 325px;
}
legend {
    font-size: 26px;
    text-align: center;
}
.form-control {
    border-radius: 3px;
    box-shadow: inherit;
    height: 53px;
    font-size: 18px;
    color: #565656;
    margin: 0 auto 18px auto;
    transition: all 0.2s ease-in-out;
}
button.btn-primary {
    border-color: #3686bb;
    background-color: #3686bb;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out;
    border-radius: 3px;
    font-size: 15px;
    width: 100%;
    height: 53px;
    margin: 0 auto 25px auto;
}
button.btn-primary:hover {
    background-color: #2b6a93;
}

p.text {
    font-size: 16px;
    text-align: center;
}
p.text > a{
    color: black;
    text-decoration: none;
    border-bottom: solid 1px black;
}
@media(max-width: 550px) {
    .vertical-form {
        width: 100%;
    }
}
</style>
{% endblock css %}
{% block header %}{% endblock header %}
{% block container %}
<form action="" class="vertical-form">
    <legend>สร้างบัญชีผู้ใช้</legend>
    <div class="alert alert-danger"><center>ไม่สามารถลงทะเบียนได้</center></div>
</form>
{% endblock container %}